body {
	text-align: center;
}

#game {
	display: inline-grid;
	grid-template-columns: repeat(4, 106.25px);
	grid-gap: 15px;
	justify-content: center;
	border: 4px solid black;
	border-radius: 10px;
}

#game div {
	height: 106.25px;
	border-radius: 3px;
	background: #acaaaa;
	text-align: right, bottom;
}

#scoreBoard {
	display: flex;
	justify-content: space-evenly;
}

.colors {
	transition: color 1000ms;
}
